<%= form_with(model: minigame, local: true) do |form| %>
  <% if minigame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(minigame.errors.count, "error") %> prohibited this minigame from being saved:</h2>

      <ul>
      <% minigame.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :game_id %>
    <%= form.number_field :game_id, id: :minigame_game_id %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :minigame_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
