<p id="notice"><%= notice %></p>

<h1>Minigames</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @minigames.each do |minigame| %>
      <tr>
        <td><%= minigame.game_id %></td>
        <td><%= minigame.content %></td>
        <td><%= link_to 'Show', minigame %></td>
        <td><%= link_to 'Edit', edit_minigame_path(minigame) %></td>
        <td><%= link_to 'Destroy', minigame, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Minigame', new_minigame_path %>
